h1{
    
    text-align: center;
    font-size: 70px;
    color: rgb(120, 12, 12);
    border-bottom: 1px solid rgba(255, 0, 0, 0.239);
}
@media  (max-width: 600px) {
    h1 {
        font-size: 45px;
}
}